@media (min-width: 320px) and (max-width: 575px) {
    .container {
        width: 100%;
    }


    /* ================
        main manu start
    ===================== */
    #main_manu {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        width: 100%;
    }

    #main_manu .navbar-collapse {
        flex-basis: 100%;
        flex-grow: 1;
        align-items: center;
        position: absolute;
        top: 96px;
        left: 0;
        width: 100%;
        z-index: 11;
    }

    #main_manu ul {
        margin: 0;
        margin-right: 0 !important;
        background-color: rgb(37, 168, 102);
        padding-bottom: 20px;
        padding-top: 20px;
    }

    #main_manu ul li {
        text-align: center;
        padding: 10px 0;
        position: relative;
    }

    #main_manu .brand {
        display: none;
    }

    #main_manu li .active {
        color: #000000;
    }

    #main_manu ul li::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        height: 2px;
        width: 70%;
        background-color: #080808;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }

    #main_manu ul li:hover {
        background-color: #EC1A25;
    }

    #main_manu ul li a {
        color: rgb(36, 3, 3);
        font-weight: 500;
    }

    #main_manu ul li a:hover {
        color: #FFFFFF;
    }

    /* ================
        main manu end
    ===================== */

    /* ====================
          bannar start
    ======================= */
    #bannar {
        padding-bottom: 60px;
        background-position: inherit;
    }
    #bannar .text {
        padding: 200px 0 0 0;
    }

    #bannar .text h1 {
        font-size: 30px;
        margin-bottom: 40px;
    }

    #bannar .text p {
        font-size: 15px;
    }

    /* ====================
          bannar end
    ======================= */

    /* ====================
          map start
    ======================= */
    #map .location {
        width: 100%;
    }

    #map .location iframe {
        width: 100%;
        height: 100%;
    }
    #map {
        padding: 20px;
        height: 400px;
    }
    #map h4 {
        font-size: 20px;
     }
     #map span a {
        font-size: 14px;
    }
    #map p {
        color: #292929;
        font-size: 14px;
    }
    /* ====================
          map end
    ======================= */
    /* ====================
          footer satrt
    ======================= */
    #footer .icons {
        justify-content: space-around;
    }
    #footer .links {
        display: none;
    }
    #footer .whatsapp img {
        width: 45px;
        height: 45px;
    }
    /* ====================
          footer end
    ======================= */

    /* ====================
          product start
    ======================= */
    #headline{
        margin-top: 150px;
    }
    #product{
        padding-top: 60px;
    }
    #product .listing {
        display: none;
    }

    #product .item {
        height: 270px;
        margin: 0 auto 75px;
        background-color: rgb(255, 255, 255);
        width: 270px;
        padding: 0;
        box-shadow: -5px -5px 7px 2px rgba(118, 118, 118, 0.459);
    }

    /* ====================
          product end
    ======================= */

    #headline{
        padding: 0;
    }

}